{% extends 'shared/layout.html' %}

{% block title %}Projects - Towsif's Portfolio{% endblock %}

{% block maincontent %}
<h2 class="section-title">Projects</h2>
<!-- Single column intro -->
<div class="project-intro">
    <p>Below is a list of projects I worked on in CSE 477:</p>
    <p>Click an image, or hyperlink in the description to learn more.</p>
</div>
<!-- Two column project display -->
<div class="content-wrapper">
    <div class="left-column">
        <a href="/piano">
            <img src="{{ url_for('static', filename='main/images/piano.jpeg') }}" alt="Javascript Piano" class="profile-photo" loading="lazy">
        </a>
    </div>
    <div class="right-column">
        <h3>Javascript Piano</h3>
        <div class="description-container">
            <p>As part of my first Homework assignment in CSE477, I developed an interactive piano build in pure HTML, CSS and Javascript. This tool (in addition to my webpage) highlight my ability to build beautiful and mobile-friendly front-end applications. <a href="/piano">Click here to see, and play!</a></p>
        </div>
    </div>
</div>
<!-- More coming soon section -->
<div class="more-coming">
    <h3>More coming soon!</h3>
</div>
{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='main/js/main.js') }}"></script>
{% endblock %}